.compare{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-inline: 7rem;
}

.compare__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.compare__right{
    text-align: right;
}

@media(max-width: 900px){
    .compare{
        grid-template-columns: 1fr;
        margin-inline: 2rem;
    }
    .compare__container > h2{
        text-align: center;
    }
}