.hourly-forecast{
  display: grid;
  grid-area: hourly;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--clr-neutral-800);
  border: 1px solid var(--clr-neutral-600);
  border-radius: 1.25rem;
}

.hourly-forecast__header{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: start;
}

.hourly-forecast__container{
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  text-align: right;
  background-color: var(--clr-neutral-700);
  border: 1px solid var(--clr-neutral-600);
  border-radius: .5rem;
  padding: .625rem 1rem;
}
.hourly-forecast__container > img{
  max-width: 40px;
}

.hourly-forecast__dropdown{
  position: relative;
}

.hourly-forecast__dropdown-content{
  position: absolute;
  display: grid;
  gap: .25rem;
  top: calc(100% + .5rem);
  right: 0;
  width: 200px;
  text-align: left;
  background-color: var(--clr-neutral-800);
  border: 1px solid var(--clr-neutral-600);
  border-radius: .75rem;
  padding: .5rem;

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 150ms ease;
  z-index: 1000;
}
.hourly-forecast__dropdown-content > p{
  padding: .5rem;
  border-radius: .5rem;
}
.hourly-forecast__dropdown-content > p:hover,
.hourly-forecast__dropdown-active
{
  background-color: var(--clr-neutral-700);
}


.btn-dropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-neutral-600);
  padding: .5rem 1rem;
  gap: .75rem;
  border-radius: .5rem;
}
.btn-dropdown > img{
  max-width: 16px;
}