.cta{
  text-align: center;
  display: grid;
  gap: 3rem;
  grid-area: cta;
}

.cta__search-bar{
  display: flex;
  gap: 1rem;
  max-width: 650px;
  margin-inline: auto;
  width: 100%;
}
.cta__search-bar > input{
  border-radius: .5rem;
  background: url(/assets/images/icon-search.svg) no-repeat scroll 12px 12px;
  color: var(--clr-neutral-000);
  background-color: var(--clr-neutral-700);
  padding-left: 2.5rem;
  width: 100%;
}
.cta__search-bar > input::placeholder{
  color: var(--clr-neutral-200);
}
