
.cta{
  grid-area: cta;
  text-align: center;
  margin-inline: auto;

  display: grid;
  gap: 3rem .5rem;
  grid-template-columns: 1fr auto;
  width: 100%;
  max-width: 650px;
}

.cta__search-bar{
  position: relative;
  display: flex;
  gap: .5rem;
}
.cta__search-bar > input{
  border-radius: .5rem;
  background: url(/assets/images/icon-search.svg) no-repeat scroll 12px 12px;
  color: var(--clr-neutral-000);
  background-color: var(--clr-neutral-700);
  padding-left: 2.5rem;
  width: 100%;
}
.cta__search-bar > input::placeholder{
  color: var(--clr-neutral-200);
}

.cta__options{
  position: absolute;
  display: grid;
  gap: .5rem;
  top: calc(100% + .5rem);
  width: 100%;
  background-color: var(--clr-neutral-800);
  border-radius: .75rem;
  padding: .5rem;
  text-align: left;
  cursor: pointer;
}
.cta__options > p{
  padding: .5rem;
  border-radius: .5rem;
}
.cta__options > p:hover{
  background-color: var(--clr-neutral-700);
  border: 1px solid var(--clr-neutral-600);
}