.home{
  display: grid;
  margin-inline: 7rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    'cta cta cta'
    'info info hourly'
    'daily daily hourly'
  ;
  gap: 2rem;
}

@media (max-width: 900px) {
  .home{
    grid-template-areas: 
      'cta'
      'info'
      'daily'
      'hourly'
    ;
    grid-template-columns: 1fr;
    margin-inline: 2rem;
  }
}