@import "tailwindcss";


/* FONT IMPORTS */
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/static/DMSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/static/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}


:root {
  --clr-neutral-900: hsl(241, 96%, 9%); 
  --clr-neutral-800: hsl(242, 27%, 20%); 
  --clr-neutral-700: hsl(242, 22%, 24%); 
  --clr-neutral-600: hsl(242, 23%, 30%); 
  --clr-neutral-300: hsl(240, 7%, 70%); 
  --clr-neutral-200: hsl(250, 7%, 84%); 
  --clr-neutral-000: hsl(0, 0%, 100%); 
  --clr-orange-500: hsl(28, 100%, 52%); 
  --clr-blue-500: hsl(233, 67%, 56%); 
  --clr-blue-700: hsl(248, 70%, 36%); 

  --ff-dm-sans: "DM Sans", sans-serif;
  --ff-bricolage: "Bricolage Grotesque", sans-serif;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-52: clamp(2rem, calc(1rem + 3vw), 3.25rem);
  --fs-96: clamp(4.5rem, calc(2.25rem + 4vw), 6rem);

  --lh-100: 100%;
  --lh-120: 120%;

  --ls-tight: -2px;
  --ls-normal: 0px;
}


@theme inline {
  --color-neutral-900: var(--clr-neutral-900);
  --color-neutral-800: var(--clr-neutral-800);
  --color-neutral-700: var(--clr-neutral-700);
  --color-neutral-600: var(--clr-neutral-600);
  --color-neutral-300: var(--clr-neutral-300);
  --color-neutral-200: var(--clr-neutral-200);
  --color-neutral-000: var(--clr-neutral-000);

  --font-dm-sans: var(--ff-dm-sans);
  --font-bricolage: var(--ff-bricolage);

  --text-14: var(--fs-14);
  --text-16: var(--fs-16);
  --text-18: var(--fs-18);
  --text-20: var(--fs-20);
  --text-28: var(--fs-28);
  --text-32: var(--fs-32);
  --text-52: var(--fs-52);
  --text-96: var(--fs-96);

  --font-weight-300: var(--fw-300);
  --font-weight-500: var(--fw-500);
  --font-weight-600: var(--fw-600);
  --font-weight-700: var(--fw-700);
  --font-weight-700: var(--fw-700);

  --leading-100: var(--lh-100);
  --leading-120: var(--lh-120);

  --tracking-tight: var(--ls-tight);
  --tracking-normal: var(--ls-normal);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.btn{
  background-color: var(--clr-blue-500);
  border-radius: .5rem;
  padding: .75rem 1.5rem;
}

body {
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-000);
  font-family: var(--ff-dm-sans);
}


.text-preset-1{
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-96);
  font-style: italic;
  font-weight: var(--fw-600);
  letter-spacing: var(--ls-tight);
  line-height: var(--lh-100);
}
.text-preset-2{
  font-family: var(--ff-bricolage);
  font-size: var(--fs-52);
  font-style: normal;
  font-weight: var(--fw-700);
  letter-spacing: var(--ls-normal);
  line-height: var(--lh-120);
}
.text-preset-3{
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-32);
  font-style: normal;
  font-weight: var(--fw-300);
  letter-spacing: var(--ls-normal);
  line-height: var(--lh-100);
}
.text-preset-4{
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-28);
  font-style: normal;
  font-weight: var(--fw-700);
  letter-spacing: var(--ls-normal);
  line-height: var(--lh-120);
}
.text-preset-5{
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-20);
  font-style: normal;
  font-weight: var(--fw-600);
  letter-spacing: var(--ls-normal);
  line-height: var(--lh-120);
}
.text-preset-5-medium{
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-20);
  font-style: normal;
  font-weight: var(--fw-500);
  letter-spacing: var(--ls-normal);
  line-height: var(--lh-120);
}
.text-preset-6{
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-18);
  font-style: normal;
  font-weight: var(--fw-500);
  letter-spacing: var(--ls-normal);
  line-height: var(--lh-120);
}
.text-preset-7{
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-16);
  font-style: normal;
  font-weight: var(--fw-500);
  letter-spacing: var(--ls-normal);
  line-height: var(--lh-120);
}
.text-preset-8{
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-14);
  font-style: normal;
  font-weight: var(--fw-500);
  letter-spacing: var(--ls-normal);
  line-height: var(--lh-120);
}

header{
  display: flex;
  margin: 1rem 2rem;
  justify-content: space-between;
}
.unit-dropdown__btn{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: .5rem;
  background-color: var(--clr-neutral-800);
  border-radius: .5rem;
  padding: 0.75rem 1rem;
}
.unit-dropdown{
  position: relative;
}
.unit-dropdown__content{
  position: absolute;
  top: 100%;
  right: 0;
  display: grid;
  gap: .5rem;
  background-color: var(--clr-neutral-800);
  border: 1px solid var(--clr-neutral-600);
  width: 200px;
  z-index: 1000;
  padding: .5rem;
  color: var(--clr-neutral-300);
  border-radius: .75rem;

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 150ms ease;
  z-index: 1000;
}
.unit-dropdown__content > * {
  padding: .5rem;
}
.unit-dropdown__option{
  color: var(--clr-neutral-000);
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.unit-dropdown__line{
  background-color: var(--clr-neutral-600);
  width: 100%;
  height: 1px;
  padding: 0;
  margin-inline: auto;
}
.unit-dropdown__option:hover,
.unit-dropdown__active{
  background-color: var(--clr-neutral-700);
}

footer{
  margin-top: 3rem;
  text-align: center;
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-600);
}
footer a{
  color: var(--clr-neutral-900);
}

.hide{
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  transition: opacity 150ms ease, visibility 0ms 1s !important;
}



